.container {
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
    color: rgb(217, 86, 38);
}

.logosContainer span {
    padding: 0 7px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 0 25px;
}

a {
    text-decoration: none;
    color: rgb(217, 86, 38);
}

a:hover {
    color: rgb(255, 151, 47);
}

.logosContainer svg {
    color: rgb(217, 86, 38);
}